<main class="main">

  <nav>
    <ul>
      <li routerLink="/home"><a>Home</a></li>
      <li routerLink="/places"><a>Gyms</a></li>
      <li routerLink="/new-gym"><a>Add Gym</a></li>
      <li routerLink="/reservations"><a>Resevations</a></li>
      <span *ngIf="!isAuthenticated">
        <li routerLink="/login" class="login"><a>Login</a></li>
        <li routerLink="/sign-up" class="login"><a>SignUp</a></li>
      </span>
      <li *ngIf="isAuthenticated" (click)="logout()" class="login"><a>Logout</a></li>
    </ul>
  </nav>
  <div class="content">





  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />