<div class=" card container bg-light create-gym-form col-8 ">

    <form class="col-md-10 col-lg-8  col-sm-12 card-body" [formGroup]="form" (ngSubmit)="createPlace()">
        <div class="row">
            <div class="form-group col-8">
                <label for="name" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name of place">
            </div>
            <div class="form-group col-4">
                <label for="kind" class="form-label">Kind</label>
                <select class="form-control" formControlName="kind" id="kind">
                    <option>Gym</option>
                    <option>place</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="file" (dragover)="handleDragOver($event)" (drop)="handleDrop($event)">
                    <i class="ph ph-upload"></i>

                    <span>
                        Drag & drop or
                        <span>browse</span>
                        your files
                    </span>
                </label>

                <input type="file" class="form-control" id="UploadimgControlInput" formControlName="image" name="image"
                    (change)="uploadImage($event)" placeholder="Upload Image">
               
                <img *ngIf="imageUrl"  [src]="imageUrl" width="70" height="70" style="margin: 10px" />
               
            </div>
        </div>

        <div class="row">
            <div class="form-group col-4">
                <label for="city" class="form-label">City</label>
                <input type="text" formControlName="city" class="form-control" id="city" placeholder="city of place">
            </div>
            <div class="form-group col-4">
                <label for="Multiplicity" class="form-label">Multiplicity</label>
                <input type="text" formControlName="multiplicity" class="form-control" id="multiplicity"
                    placeholder="multiplacity of place">
            </div>
            <div class="form-group col-4">
                <label for="address" class="form-label">Address</label>
                <input type="text" formControlName="address" class="form-control" id="address" placeholder="adderess ">
            </div>
            <div class="form-group">
                <label for="description" class="form-label">Description</label>
                <textarea formControlName="description" class="form-control" id="address"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="capacity" class="form-label">Capacity</label>
                <input type="number" formControlName="capacity" class="form-control" id="capacity"
                    placeholder="capacity of gym">
            </div>
            <div class="form-group col-6">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <input type="number" formControlName="price" class="form-control" id="price" placeholder="0.00">
                    <span class="input-group-text">EUR</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary submit-button">Submit</button>
    </form>
</div>